@import "tailwindcss";

/****FONTS****/
@font-face {
  font-family: "Conquera";
  src: url("/fonts/Conquera-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Conquera";
  src: url("/fonts/Conquera-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@theme {
  --breakpoint-xs: 384px;
  --breakpoint-sm: 480px;

  --max-width-container: 87.5rem;

  --font-heading: "Conquera", sans-serif;

  --color-primary-black: #121212;
  --color-primary-white: #f2f1f2;
  --color-primary-blue: #142c43;
  --color-secondary-blue: #2c4f70;
  --color-blue-low-op: #dcdde1;
  --color-primary-orange: #f05824;
  --color-orange-op-zero: #f0582400;
  --color-secondary-orange: #cb3233;
}
